.NavBarStyle {
  background-color: #3ce6ca;
}


.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 5;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
  max-width: 600px;
}

.modal-header {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.modal-input,
.modal-button {
  width: 100%;
  padding: 10px;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.modal-button {
  background-color: #34e498;
  color: white;
  border: none;
  cursor: pointer;
}

.aside-content {
  flex: 1; /* Take up equal space on either side */
margin-left: 8%;
margin-top: 1rem;
}


@media (max-width: 768px) {

  .aside-content {
    display: none; /* Hide the side content on small screens */
  }
}

.home-container {
  display: flex;
  justify-content: center; /* Center the main content */
  align-items: start; /* Align items to the start of the container */

}

